<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Company_PartExchange::part_exchange" parent="Magento_Catalog::catalog" title="Part Exchange" module="Company_PartExchange"
             sortOrder="20" resource="Magento_Backend::content" />
        <add id="Company_PartExchange::part_exchange_sub" title="Part Exchange Details" module="Company_PartExchange"
             sortOrder="1" action="exchange/partexchange/index" parent="Company_PartExchange::part_exchange"
             resource="Company_PartExchange::exchange" />
    </menu>
</config>